<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="style.css">

</head>
<body>
    <form action="/show" method="POST">
        <label for="fname">Enrollment Number</label>
        <input type="text" name="Enrollment" placeholder="Enter Your enrollment no" id="fname">
       
        <a href="display"><input type="submit" value="Fetch Data" ></a>
    </form>
    <a href="display"><input type="submit" value="Check" ></a>
     <a href="/"><input type="submit" value="Go Back" ></a>
    <h2>Your Submitted Assignment Link is: </h2><h3>{{name}}</h3>
</body>
</html>